* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(./math-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: inset 0px 0px 12px 6px rgb(0 0 0 / 80%);
    border-radius: 30px;
    background: #c3d3ff;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: black;
    text-align: right;
    pointer-events: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-r {
    background: #000a55;
    color: white;
}

.btn-grey {
    background: rgb(235, 229, 252);
}

.btn-equal {
    background: rgb(124, 165, 124);
}

.btn-clear {
    background: rgb(250, 194, 194);
}